<div class="register-container">
    <h1>Registration form</h1>
    <form class="registration-form">
        <mat-form-field>
            <input matInput placeholder="Email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Age">
        </mat-form-field>
        <br>
        <mat-radio-group aria-label="Select your gender">
            <mat-radio-button value="M">Man</mat-radio-button>
            <mat-radio-button value="F">Woman</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="About yourself"></textarea>
        </mat-form-field>
        <br>
    </form>
</div>
