<h1>Registration form</h1>
<div>&nbsp;</div>
<div class="register-wrapper">
    <div class="register-container">
        <form class="registration-form" (submit)="onSubmit($event)">
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="name" name="name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Age" [(ngModel)]="age" name="age">
            </mat-form-field>
            <br>
            <mat-radio-group aria-label="Select your gender" [(ngModel)]="gender" name="gender">
                <mat-radio-button value="man">Man</mat-radio-button>
                <mat-radio-button value="woman">Woman</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field class="about-me">
                <textarea matInput placeholder="About yourself" [(ngModel)]="about" name="aboutme"></textarea>
            </mat-form-field>
            <br>
            <app-interests-list (selected)="onSelect($event)"></app-interests-list>
            <br>
            <button mat-raised-button>Submit</button>
        </form>
    </div>
</div>
