.register-wrapper {
    margin-top: 1.5em;
    text-align: center;
}

.register-container {
    width: 50%;
    display: inline-block;
    padding: 1em;
}

mat-radio-button {
    margin-right: 1em;
}

.about-me {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

mat-form-field {
    width: 100%;
}

button {
    background-color: #673ab7;
    color: white;
    font-weight: bold;
}

app-interests-list {
    text-align: left;
}

h1 {
    width: 100%;
    background-color: #673ab7;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 0.2em;
    position: fixed;
    z-index: 1;
    box-shadow: -5px 1px 6px rgba(0, 0, 0, 0.5);
}

.error {
    font-size: 12px;
    color: gray;
}

.gender {
    text-align: left;
    margin-bottom: 0.5em;
    color: gray;
}

.gender-select {
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    float: left;
}

@media all and (max-width: 1024px) {
    .register-container {
        width: 70%;
    }
}
