.title {
  padding: 1em;
}

.message-wrapper {
  margin: 1em 0;
}

.my-message-wrapper {
  vertical-align: center;
  text-align: right;
}

.others-message-wrapper {
  text-align: left;
}

.message-title {
  font-weight: bold;
}

.message-content {
  display: inline-block;
  color: white;
  padding: 1em;
  width: 100%;
}

.my-message-content {
  background-color: #5722b5;
}

.others-message-content {
  background-color: #673ab7;
}

.message-area {
  vertical-align: middle;
}

.input {
  vertical-align: middle;
  display: inline-block;
  margin-left: 2em;
  height: 100%;
  width: 80%;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.input:focus {
  outline: none;
  border: none;
}

.send-button {
  display: inline-block;
  margin-left: 0.5em;
  color: #7e57ff;
}

.send-button:active {
  color: black;
}



