.profile-info-header {
  margin-left: 0.5em;
  color: gray;
}

.name {
  margin-bottom: 1em;
}

.title {
  float: left;
  padding: 1em;
}

.like-button {
  text-align: center;
}

ion-button {
  display: inline-block;
}
