ion-content {
    //margin-top: 10em;
    text-align: center;
}

.register-container {
    margin-top: 1.5em;
    width: 50%;
    display: inline-block;
    padding: 1em;
}

mat-radio-button {
    margin-right: 1em;
}

.about-me {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

mat-form-field {
    width: 100%;
}

button {
    background-color: #673ab7;
    color: white;
    font-weight: bold;
}

app-interests-list {
    text-align: left;
}

.error {
    margin-top: 1em;
    font-size: 12px;
    color: gray;
    float: right;
}

.gender {
    text-align: left;
    margin-bottom: 0.5em;
    color: gray;
}

.gender-select {
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    float: left;
}

.back-button {
    margin-top: 1em;
}

@media all and (max-width: 1024px) {
    .register-container {
        width: 70%;
        padding: 0.5em;
    }
}
