<ion-header>
    <ion-toolbar>
        <ion-title class="ion-padding title">Profile</ion-title>
        <ion-icon (click)="logout()" class="logout-button" name="exit" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="{'slidesPerView': '2'}" pager="true">
        <ion-slide *ngFor="let photo of photoServices.photos" class="slide">
            <img [ngStyle]="{'height': '15em', 'width': width}" [src]="photo.data">
        </ion-slide>
    </ion-slides>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="photoServices.takePicture()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

