<ion-header>
    <ion-toolbar>
        <ion-title class="ion-padding title">Profile</ion-title>
        <ion-icon (click)="logout()" class="logout-button" name="exit" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="{'slidesPerView': '2'}" pager="true">
        <ion-slide (click)="onPhotoClick($event.target)" *ngFor="let photo of photoService.photos" class="slide">
            <div>
                <img [ngStyle]="{'height': '15em', 'width': width}" [src]="photo.data">
                <mat-checkbox *ngIf="deletePhoto" [checked]="false" class="delete-checkbox"></mat-checkbox>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="photoService.takePicture()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

