button {
  background-color: #673ab7;
  color: white;
}

.slide {
  margin-bottom: 2em;
}

.logout-button {
  float: right;
  padding: 0.5em;
}

.logout-button:active {
  color: #673ab7;
}

.title {
  float: left;
}
