button {
  background-color: #673ab7;
  color: white;
}

.slide {
  margin-bottom: 2em;
}

.logout-button {
  float: right;
  padding: 0.5em;
}

.logout-button:active {
  color: #673ab7;
}

.title {
  float: left;
}

ion-slide {
  position: relative;
}

.delete-checkbox {
  float: right;
  position: absolute;
  right: 0.5em;
  top: 0;
  z-index: 1000;
}

