button {
    background-color: #673ab7;
    color: white;
    font-weight: bold;
}

.error {
    font-size: 12px;
    color: gray;
    text-align: right;
}

ion-content {
    text-align: center;
}

.login-form-container {
    width: 20%;
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
    border-radius: 4%;
}

mat-form-field {
    width: 100%;
}

.link {
    color: gray;
}

.link:hover {
    color: #673ab7;
}

.login-error {
    color: red;
    font-size: 14px;
    padding: 1em;
}

@media all and (max-width: 1024px) {
    .login-form-container {
        width: 50%;
    }
}

@media all and (max-width: 512px) {
    .login-form-container {
        width: 70%;
    }
}
