<ion-header>
    <ion-toolbar>
        <ion-title class="title">{{this.twimcUser.name}}</ion-title>
        <ion-icon (click)="toPM()" class="back-button" name="arrow-back" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let message of messages"
         [ngClass]="message.senderId === id ? 'my-message-wrapper' : 'others-message-wrapper'"
         class="message-wrapper">
        <div
             [ngClass]="message.senderId === id ? 'my-message-content' : 'others-message-content'"
             class="message-content">
            <div class="message-title">
                {{message.senderId === id ? this.userService.getCredentials().name : this.twimcUser.name}}
            </div>
            <div class="message-text">
                {{message.text}}
            </div>
        </div>
    </div>
</ion-content>
<div class="message-area">
    <textarea [(ngModel)]="messageText" class="input" rows="1"></textarea>
    <div class="send-button-container">
        <ion-icon (click)="sendMessage()" class="send-button" name="send" size="large"></ion-icon>
    </div>
</div>
